bin/
obj/
publish/
.idea/
*.user
*.sln.iml
/shelf/
/workspace.xml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
.vs/
*.suo
*.sln.docstates
*.db
appsettings.Development.json
.DS_Store
Thumbs.db
desktop.ini